{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
    <!--banner for mobile-->
    <div class="container-fluid nopadding mobile">
        <div class="carousel-inner">
            <div class="content1">
                <img src="{% static 'images/mobile.png' %}" alt="">
            </div>
            <div class="container">
                <div class="carousel-caption">
                    <h1>СТАТЬИ</h1>
                    <p>Учебные материалы от профессионалов<br>
                        для постоянного развития</p>

                </div>
            </div>
        </div>
    </div>
    <!--banner for desktop-->
    <div class="container-fluid nopadding desk">
        <div class="carousel-inner content">
            <img src="{% static 'images/articles.png' %}" alt="">
            <div class="container">
                <div class="black contacts-content">
                    <h1>СТАТЬИ</h1>
                    <p>Учебные материалы от профессионалов<br>
                        для постоянного развития</p>
                </div>
            </div>
        </div>
    </div>

    <!--menu for ipad-->
    <div class="container-fluid menu ">
        <div class="container nopadding">
            <div class="collapse navbar-collapse" id="">


                <ul class="nav navbar-nav menu ">
                    {% for ct in categories %}
                        <li><a href="{% url 'articles' %}?catid={{ ct.id }}">{{ ct.name }}</a></li>
                    {% endfor %}
                </ul>


            </div>
        </div>

    </div>
    <!--menu for mobile-->
    <div class="container-fluid nopadding menu">
        <div class="container nopadding">

            <ul class="menu art">
                {% for ct in categories %}
                    <li><a href="{% url 'articles' %}?catid={{ ct.id }}">{{ ct.name }}</a></li>
                {% endfor %}
            </ul>

        </div>
    </div>
    <div class="container">
        <div class="row ">
            <div class="col-md-12 col-sm-12 col-xs-12 art">
                <div class="col-md-3 col-sm-3 more nopadding col-xs-3">
                    <div class="speakerpart1 art">
                        <img src="{% static 'images/blue2.png' %}" alt="">
                        <div class="speaker-content">
                            <ul>
                                {% for ct in categories %}
                                    <li><a href="{% url 'articles' %}?catid={{ ct.id }}">{{ ct.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="arbanner">
                        <img src="{% static 'images/evbanner.png' %}" alt="">
                    </div>
                </div>
                <div class="col-md-9 col-sm-12 col-xs-12 long art ">

                    <!--info-->

                    <div class="Rectangle"><img src="{% static 'images/Rectangle 4.png' %}" alt=""></div>
                    <div class="title ">
                        <p>{{ category.name }}</p>

                    </div>
                    <!--info end-->
                    <div class="articles" style="">
                        <div class="col-md-12 nopadding col-sm-12" style="">
                            {% for ar in articles %}
                                <div class="col-md-6 nopadding col-sm-6 art">
                                    <p style="font-size: 15px;font-weight: 600;color: black;padding-right: 25px;height: 37px">{{ ar.title }}</p>
                                    <h5 style="height: 60px">{{ ar.short_description|safe }}</h5>

                                    <a href="{% url 'article_single' id=ar.id %}">Читать...</a>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                    <!--Locked-->

                    <div class="">
                        {% if not save_contact %}
                            <div class="col-md-12 locked " id="locked">
                                <div class="articles locked">
                                    <div class="col-md-12 nopadding col-sm-12 lock">
                                        {% for ld in locked %}
                                            <div class="col-md-6 nopadding col-sm-6 art">
                                                <p style="font-size: 15px;font-weight: 600;color: black;padding-right: 25px;height: 37px">{{ ld.title }}</p>
                                                <h5 style="height: 60px">{{ ld.short_description|safe }}</h5>

                                                {#                                            <a href="{% url 'article_single' id=ld.id %}">Читать...</a>#}
                                            </div>
                                        {% endfor %}
                                    </div>


                                </div>

                                <div class="locked-content" >
                                    <div class="licon">
                                        <img src="{% static 'images/lock.png' %}" alt="">
                                    </div>
                                    <h3>КОНТЕНТ ЗАКРЫТ!</h3>
                                    <p class="descr"></p>
                                    <p>Заполните форму,чтобы получить доступ к десяткам <br>
                                        полезных статей!</p>
                                    <div class="arform">
                                        <form id="contact" action="{% url 'save_contact' %}" method="POST" name="">
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                {% render_field form.name placeholder='Имя' required='required' class='inputstyle art' %}
                                                {% csrf_token %}
{#                                                <input class="inputstyle art" type="text" placeholder="Имя" required/>#}
                                            </div>
                                            <!--<div class="col-md-4 nopadding">-->
                                            <!--<input class="inputstyle " type="text" placeholder="Телефон с кодом" required/>-->
                                            <!--</div>-->
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                {% render_field form.mail placeholder='Ваш E-mail' required='required' class='inputstyle art' %}
{#                                                <input class="inputstyle art" name="email" type="email"#}
{#                                                       id="applicationEmail"#}
{#                                                       maxlength="20" placeholder="Ваш E-mail"#}
{#                                                       required/>#}
                                            </div>
                                            <div class="buttonstyle nopadding">
                                                <button class="button art" type="submit" >
                                                    <span>Отправить</span>
                                                </button>
                                            </div>

                                        </form>
                                    </div>

                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% if save_contact %}
                    <div class="articles" style="">
                        <div class="col-md-12 nopadding col-sm-12" style="">
                            {% for ar in locked %}
                                <div class="col-md-6 nopadding col-sm-6 art">
                                    <p style="font-size: 15px;font-weight: 600;color: black;padding-right: 25px;height: 37px">{{ ar.title }}</p>
                                    <h5 style="height: 60px">{{ ar.short_description|safe }}</h5>

                                    <a href="{% url 'article_single' id=ar.id %}">Читать...</a>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                {% endif %}

                    <!--</div>-->

                </div>
            </div>
        </div>
    </div>

    <!--BORDER END-->
{% endblock %}
