{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
    <!--banner for mobile-->
    <div class="container-fluid nopadding mobile">
        <div class="carousel-inner">
            <div class="content1">
                <img src="{% static 'images/mobile.png' %}" alt="">
            </div>
            <div class="container">
                <div class="carousel-caption ">
                    <h1>КНИГИ</h1>
                    <p>Полезная обучающая литература <br>
                        всегда под рукой</p>
                </div>
            </div>
        </div>
    </div>

    <!--banner for desktop-->
    <div class="container-fluid nopadding desk books">
        <div class="carousel-inner content">
            <img src="{% static 'images/books.png' %}" alt="">
            <div class="container">
                <div class="black contacts-content">
                    <h1>КНИГИ</h1>
                    <p>Полезная обучающая литература <br>
                        всегда под рукой</p>
                </div>
            </div>
        </div>
    </div>
    <!--banner end-->

    <!--trades-->
    <div class="container">
        <div class="ffff trades">
            {% for tr in books %}
                <a href="{% url 'single_book' id=tr.id %}">

                    <div class="col-md-3 col-sm-3">

                        <div class="trades-content">
                            <div style="height: 180px;overflow: hidden;margin-bottom: 20px;margin-top: 20px;">
                                <img class="norm3" src="{{ tr.image.url }}" alt="" style="width: 142px;">
                            </div>

                            <p class="span">{{ tr.title }}</p>
                            <span>{{ tr.price }} сом</span>
                            <div class="cart_quantity_button">
                                <b class="cart_quantity_up"> + </b>
                                <input class="cart_quantity_input" type="text" name="quantity" value="1"
                                       autocomplete="off"
                                       size="2">
                                <!--<input type="text" class="">-->
                                <b class="cart_quantity_down"> - </b>
                                <button class="button button2" type="submit"><span>В корзину</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </a>
            {% endfor %}


        </div>
    </div>

    <!--trades end-->

    <!--footer-->

    <div class="container-fluid nopadding books">
        <div class="carousel-inner ">
            <img src="{% static 'images/newsletter.png' %}" alt="">
            <div class="container">
                <div class="black">
                    <div class="Rectangle"><img src="{% static 'images/RectangleWhite.png' %}" alt=""></div>

                    <p>БУДЬТЕ В КУРСЕ НОВЫХ ПОСТУПЛЕНИЙ.
                        <br>
                        ПОДПИСЫВАЙТЕСЬ НА РАССЫЛКУ!</p>

                </div>
                <div class="form">
                    <form id="contact" action="{% url 'save_contact'  %}" method="POST" name=" application ">
                        {% render_field form.mail placeholder="Ваш E-mail" required='required'%}
                        {% csrf_token %}

{#                        <input name="email" type="email" id="applicationEmail" maxlength="20" placeholder="  Ваш E-mail"#}
{#                               required/>#}
                        <button class="button" type="submit"><span>Подписаться</span></button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!--footer end-->
{% endblock %}