{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
     <!--banner for mobile-->
    <div class="container-fluid nopadding mobile">
        <div class="carousel-inner">
            <div class="content1">
                <img src="{% static 'images/mobile.png' %}" alt="">
            </div>
            <div class="container">
                <div class="carousel-caption">
                    <h1>КОНТАКТЫ</h1>
                    <p>Свяжитесь с нами по любым интересующим<br>
                        вас вопросам</p>

                </div>
            </div>
        </div>
    </div>
    <!--banner for desktop-->
    <div class="container-fluid nopadding desk">
        <div class="carousel-inner content">
            <img src="{% static 'images/contacts.png' %}" alt="">
            <div class="container">
                <div class="black contacts-content">
                    <h1>КОНТАКТЫ</h1>
                    <p>Свяжитесь с нами по любым интересующим<br>
                        вас вопросам</p>
                </div>
            </div>
        </div>
    </div>
    <!--banner end-->

    <div class="container">
        <div class="row contacts">
            <div class="col-md-6 col-sm-6">
                <!--info-->

                <div class="Rectangle"><img src="{% static 'images/Rectangle 4.png' %}" alt=""></div>
                <div class="title contact">
                    <p>ОТДЕЛ ПРОДАЖ</p>
                    <span>Бизнес-семинары,тренинги,школа продаж <br>
                    и обслуживания,академия</span>
                    <div class="phone">
                        <h6>0 312 89-77-51</h6>
                        <h6>0 312 89-77-52</h6>
                        <h6>contact@esto.kg</h6>
                    </div>

                </div>
                <!--info end-->
            </div>
            <div class="col-md-6 col-sm-6">
                <!--info-->

                <div class="Rectangle"><img src="{% static 'images/Rectangle 4.png' %}" alt=""></div>
                <div class="title contact">
                    <p>ОТДЕЛ МАРКЕТИНГА И РЕКЛАМЫ</p>
                    <span>Ваши предложения по продвижению услуг<br>
                    компании</span>
                    <div class="phone">
                        <h6>0 312 90-15-07</h6>
                        <h6>marketing@esto.kg</h6>
                    </div>

                </div>
                <!--info end-->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <!--info-->

                <div class="Rectangle"><img src="{% static 'images/Rectangle 4.png' %}" alt=""></div>
                <div class="title contact">
                    <p>ОТДЕЛ ПО СВЯЗЯМ С ОБЩЕСТВЕННОСТЬЮ</p>
                    <span>Ваши предложения по продвижению услуг<br>
                    компании</span>
                    <div class="phone">
                        <h6>0 312 90-15-07</h6>
                        <h6>pr@esto.kg</h6>
                    </div>

                </div>
                <!--info end-->
            </div>
            <div class="col-md-6 col-sm-6">
                <!--info-->

                <div class="Rectangle"><img src="{% static 'images/Rectangle 4.png' %}" alt=""></div>
                <div class="title contact">
                    <p>ОТДЕЛ КАДРОВ</p>
                    <span>Прием резюме кандидатов <br>
                    в нашу команду</span>
                    <div class="phone">
                        <h6>contact@esto.kg</h6>
                    </div>

                </div>
                <!--info end-->
            </div>
        </div>
    </div>
{% endblock %}