{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
    <!--banner for mobile-->
    <div class="container-fluid nopadding mobile">
        <div class="carousel-inner">
            <div class="content1">
                <img src="{% static 'images/mobile.png' %}" alt="">
            </div>
            <div class="container">
                <div class="carousel-caption">
                    <h1>МЕРОПРИЯТИЯ</h1>
                    <p>Узнайте о грядущих семинарах, <br>
                        бизнес-встречах и лекциях</p>

                </div>
            </div>
        </div>
    </div>

    <!--banner for desktop-->
    <div class="container-fluid nopadding desk">
        <div class="carousel-inner content">
            <img src="{% static 'images/contacts.png' %}" alt="">
            <div class="container">
                <div class="black contacts-content">
                    <h1>МЕРОПРИЯТИЯ</h1>
                    <p>Узнайте о грядущих семинарах, <br>
                        бизнес-встречах и лекциях</p>
                </div>
            </div>
        </div>
    </div>
    <!--banner end-->
    <!--info-->
    <div class="container our">
        <!--<div class="col-md-12 col-sm-12 col-xs-12">-->
        <div class="Rectangle"><img src="{% static 'images/Rectangle 4.png' %}" alt=""></div>
        <div class="title">
            <p>ГОРЯЧИЕ
                <br>
                МЕРОПРИЯТИЯ</p>
        </div>
        <!--</div>-->
    </div>

    <div class="container">

        <div class="gblock1 group">
            {% for ev in events %}
                {% if forloop.counter == 1 %}

                    <a href="{% url 'event_single' id=ev.id %}">
                        <div class="col-md-9 col-sm-9 col-xs-12 picture1 "
                             style="background-image: url('{{ ev.image.url }}');">
                            <div class="date"><p>{{ ev.date|safe }}</p></div>
                            <div class="coming-content one">

                                <h4>{{ ev.name }}</h4>
                                <p style="max-width: 350px">{{ events.short_description }}</p>
                            </div>
                        </div>
                    </a>

                {% elif forloop.counter == 2 %}

                    <a href="{% url 'event_single' id=ev.id %}">
                        <div class="col-md-3 col-sm-3 col-xs-12 picture2 "
                             style="background-image: url('{{ ev.image.url }}');">
                            <div class="date ltl">
                                <p>{{ ev.date|safe }}</p>
                            </div>
                            <div class="coming-content">
                                <h5>{{ ev.name|safe }}</h5>
                                <p>{{ ev.short_description|safe }}</p>
                            </div>
                        </div>
                    </a>

                {% elif forloop.counter == 3 %}
                    <a href="{% url 'event_single' id=ev.id %}">
                        <div class="col-md-3 col-sm-3 col-xs-12 picture3"
                             style="background-image: url('{{ ev.image.url }}');">
                            <div class="date ltl">
                                <p>{{ ev.date|safe }}<br></p>
                            </div>
                            <div class="coming-content">
                                <h5>{{ ev.name|safe }}</h5>
                                <p>{{ ev.short_description|safe }}</p>
                            </div>
                        </div>
                    </a>


                {% elif forloop.counter == 4 %}
                    <a href="{% url 'event_single' id=ev.id %}">
                        <div class="col-md-3 col-sm-3 col-xs-12 picture4"
                             style="background-image: url('{{ ev.image.url }}');">
                            <div class="date ltl">
                                <p>{{ ev.date|safe }}<br>
                                </p>
                            </div>
                            <div class="coming-content">
                                <h5>{{ ev.name|safe }}</h5>
                                <p>{{ ev.short_description|safe }} </p>
                            </div>
                        </div>
                    </a>
                {% elif forloop.counter == 5 %}
                    <a href="{% url 'event_single' id=ev.id %}">
                        <div class="col-md-3 col-sm-3 col-xs-12 picture5"
                             style="background-image: url('{{ ev.image.url }}');">
                            <div class="date ltl"><p>{{ ev.date|safe }}<br>
                            </p>
                            </div>
                            <div class="coming-content">
                                <h5>{{ ev.name|safe }}</h5>
                                <p>{{ ev.short_description|safe }}</p>
                            </div>
                        </div>
                    </a>

                {% elif forloop.counter == 6 %}
                    <a href="{% url 'event_single' id=ev.id %}">
                        <div class="col-md-3 col-sm-3 col-xs-12 picture6"
                             style="background-image: url('{{ ev.image.url }}');">
                            <div class="date ltl"><p>{{ ev.date|safe }} <br>
                            </p>
                            </div>
                            <div class="coming-content">
                                <h5>{{ ev.name|safe }}</h5>
                                <p>{{ ev.short_description|safe }}</p>
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>


    <!--E-MAIL-->
    <div class="container-fluid nopadding">
        <div class="carousel-inner event">
            <img src="{% static 'images/newsletter.png' %}" alt="">
            <div class="container">
                <div class="black">
                    <div class="Rectangle"><img src="{% static 'images/RectangleWhite.png' %}" alt=""></div>

                    <p>БУДЬТЕ В КУРСЕ БИЗНЕС-МЕРОПРИЯТИЙ.
                        <br>
                        ПОДПИСЫВАЙТЕСЬ НА РАССЫЛКУ</p>

                </div>
                <div class="form">
                    <form id="contact" action="{% url 'save_contact' %}" method="POST" name=" application ">
                        {% render_field form.mail placeholder="Ваш E-mail" required='required' %}
                        {% csrf_token %}

                        {#                        <input name="email" type="email" id="applicationEmail" maxlength="20" placeholder="  Ваш E-mail"#}
                        {#                               required/>#}
                        <button class="button" type="submit"><span>Подписаться</span></button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!--E-MAIL END-->
    <!--info-->
    <div class="container our">
        <div class="Rectangle"><img src="{% static 'images/Rectangle 4.png' %}" alt=""></div>
        <div class="title">
            <p>НЕДАВНО
                <br>
                ПРОШЕДШИЕ</p>
        </div>
    </div>
    <!--info end-->
    <div class="container">
        <div class="gblock3 block">
            {% for lt in last %}
                <a href="{% url 'event_single' id=lt.id %}">
                    <div class="col-md-3 col-sm-3 col-xs-12 img1"
                         style="background-image: url('{{ lt.image.url }}'); -webkit-filter: grayscale(1);">
                        <div class="date ltl ltb"><p>{{ lt.date|safe }}<br>
                            </p>
                        </div>
                        <div class="coming-content">
                            <h5>{{ lt.name|safe }}</h5>
                            <p>{{ lt.short_description|safe }}</p>
                        </div>
                    </div>
                </a>

            {% endfor %}
        </div>


    </div>
{% endblock %}