{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
    <!--banner for mobile-->
    <div class="container-fluid nopadding mobile">
        <div class="carousel-inner">
            <div class="content1">
                <img src="{% static 'images/mobile.png' %}" alt="">
            </div>
            <div class="container">
                <div class="carousel-caption ">
                    <h1>{{ banner.title|safe }}
                    </h1>
                    <p>{{ banner.short_description }}</p>
{#                    <div class="nos2">#}
{#                        <button class="info1" type="submit"><span>Узнать больше <b>  </b><img#}
{#                                src="{% static 'images/Shape 2.png' %}" alt=""></span></button>#}
{#                    </div>#}

                </div>
            </div>
        </div>
    </div>

    <!--banner for desktop-->
    <div class="container-fluid nopadding desk">
        <div class="carousel-inner content">
            <img src="{{ banner.image.url }}" alt="">
            <div class="container">
                <div class="black contacts-content">
                    <h1>{{ banner.title|safe }}
                    </h1>
                    <p>{{ banner.short_description }}</p>
{#                    <div class="nos1">#}
{#                        <!--<a href="#"><span>Узнать больше<i class="fa fa-long-arrow-right" aria-hidden="true"></i></span></a>-->#}
{#                        <button class="info" type="submit"><span>Узнать больше <b>  </b><img#}
{#                                src="{% static 'images/Shape 2.png' %}" alt=""></span></button>#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </div>
    <!--banner end-->
    <!--info-->
    <div class="container our">
        <div class="Rectangle"><img src="{% static 'images/Rectangle 4.png' %}" alt=""></div>
        <div class="title">
            <p>НАШИ
                <br>
                УСЛУГИ</p>
        </div>
    </div>
    <!--info end-->
    <!--Services-->
    <div class="container services pictures">
        <div class="row">
            {% for s in services %}
                <div class="column">
                    <div class="col-md-4 col-sm-4">
                        <div class="group" style="max-height: 335px; overflow: hidden;">
                            <div class="image-content" style="overflow: hidden">
                                <div class="about">
                                    <p class="top" style="max-width: 235px;">{{ s.title|safe }}
                                    </p>

                                </div>
                                {#<div class="bottom">#}
                                {#<p>Подробнее</p>#}
                                {#</div>#}
                                <a href="{% url 'service_single' id=s.id %}">
                                    <button class="bottom" type="submit" style="top: 70%;">

                                        <span style="padding: 10px;">Подробнее</span></button>
                                </a>

                                <img src="{{ s.image.url }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!--Services End-->
    <!--numbers for desktop-->
    <div class="container-fluid nopadding blue">
        <div class="carousel-inner">
            <img src="{% static 'images/numbers.png' %}" alt="">
            <div class="container">
                <div class="black">
                    <div class="Rectangle"><img src="{% static 'images/RectangleWhite.png' %}" alt=""></div>

                    <p>КОМПАНИЯ
                        <br>
                        В ЦИФРАХ</p>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="icons">
                                <img src="{% static 'images/like.png' %}" alt="" class="like">
                                <h5>3 ГОДА</h5>
                                <img class="div" src="{% static 'images/div1.png' %}" alt="">
                                <p>Успешной деятельности <br>
                                    в Кыргызтане</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="icons">
                                <img src="{% static 'images/bell.png' %}" alt="" class="bell">
                                <h5>52</h5>
                                <img src="{% static 'images/div2.png' %}" alt="" class="div">
                                <p>Проведенных мероприятий,
                                    <br>встреч и бизнес-клубов</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="icons">
                                <img src="{% static 'images/star.png' %}" alt="" class="star">
                                <h5>507</h5>
                                <img src="{% static 'images/div3.png' %}" alt="" class="div">
                                <p>Абсолютно уникальных <br>
                                    клиентов</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="icons">
                                <img src="{% static 'images/person.png' %}" alt="" class="person">
                                <h5>1500+</h5>
                                <img src="{% static 'images/div4.png' %}" alt="" class="div">
                                <p>Клиентов,получивших профессиональные услуги</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--numbers for mobile-->
    <div class="container-fluid nopadding blue1">
        <div class="carousel-inner">
            <img src="{% static 'images/numbers.png' %}" alt="">
            <div class="container">
                <div class="black qwer">
                    <div class="Rectangle"><img src="{% static 'images/RectangleWhite.png' %}" alt=""></div>

                    <p>КОМПАНИЯ
                        <br>
                        В ЦИФРАХ</p>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="icons">
                                <img src="{% static 'images/like.png' %}" alt="" class="like">
                                <h5>3 ГОДА</h5>
                                <img class="div" src="{% static 'images/div1.png' %}" alt="">
                                <p>Успешной деятельности <br>
                                    в Кыргызтане</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="icons">
                                <img src="{% static 'images/bell.png' %}" alt="" class="bell">
                                <h5>52</h5>
                                <img src="{% static 'images/div2.png' %}" alt="" class="div">
                                <p>Проведенных мероприятий,
                                    <br>встреч и бизнес-клубов</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="icons">
                                <img src="{% static 'images/star.png' %}" alt="" class="star">
                                <h5>507</h5>
                                <img src="{% static 'images/div3.png' %}" alt="" class="div">
                                <p>Абсолютно уникальных <br>
                                    клиентов</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="icons">
                                <img src="{% static 'images/person.png' %}" alt="" class="person">
                                <h5>1500+</h5>
                                <img src="{% static 'images/div4.png' %}" alt="" class="div div1">
                                <p>Клиентов,получивших профессиональные услуги</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!--numbers end-->

    <!---->
    <!--info-->
    <div class="container our">
        <div class="Rectangle"><img src="{% static 'images/Rectangle 4.png' %}" alt=""></div>
        <div class="title">
            <p>ВПЕРВЫЕ У НАС?
                <br>
                ВОТ, ЧТО МЫ МОЖЕМ ВАМ ПРЕДЛОЖИТЬ!</p>
        </div>
    </div>
    <!--info end-->
    <!--offers for desktop-->
    <div class="container">
        <div class="advice">
            <div class="row">
                {% for of in offers %}
                    <div class="column">
                        <div class="col-md-3 col-sm-6 col-xs-6 ">
                            <div style="max-height: 130px;overflow:hidden;">
                                <img src="{{ of.image.url }}" alt="">
                            </div>

                            <div class="advice-content">
                                <h3>{{ of.title|safe }}</h3>
                                <p>{{ of.short_description|safe }}</p>
                                <div class="">
                                    <a href="{% url 'offers_single' id=of.id %}">
                                        <button class="advbtm" type="submit"><span>Узнать больше <b>  </b></span>
                                        </button>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <!---->
    <!--offers for mobile-->
{#    <div class="container">#}
{#        <div class="advice mobile">#}
{#            <div class="row">#}
{#                <div class="column">#}
{#                    <div class="col-md-6 col-sm-6 col-xs-6">#}
{#                        <img src="{% static 'images/offer1.png' %}" alt="">#}
{#                        <div class="advice-content">#}
{#                            <h3>Бизнес <br> мероприятия</h3>#}
{#                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea#}
{#                                commodo consequat. Duis aute irure dolor in</p>#}
{#                            <div class="">#}
{#                                <button class="advbtm" type="submit"><span>Узнать больше <b>  </b></span>#}
{#                                </button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="column">#}
{#                    <div class="col-md-6 col-sm-6 col-xs-6">#}
{#                        <img src="{% static 'images/offer2.png' %}" alt="">#}
{#                        <div class="advice-content">#}
{#                            <h3>Бесплатные <br> видео-советы</h3>#}
{#                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea#}
{#                                commodo consequat. Duis aute irure dolor in</p>#}
{#                            <div class="">#}
{#                                <button class="advbtm" type="submit"><span>Узнать больше <b>  </b></span>#}
{#                                </button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="row">#}
{#                <div class="column">#}
{#                    <div class="col-md-6 col-sm-6 col-xs-6">#}
{#                        <img src="{% static 'images/offer3.png' %}" alt="">#}
{#                        <div class="advice-content">#}
{#                            <h3>Коучинговые <br> программы</h3>#}
{#                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea#}
{#                                commodo consequat. Duis aute irure dolor in</p>#}
{#                            <div class="">#}
{#                                <button class="advbtm" type="submit"><span>Узнать больше <b>  </b></span>#}
{#                                </button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="column">#}
{#                    <div class="col-md-6 col-sm-6 col-xs-6">#}
{#                        <img src="{% static 'images/offer4.png' %}" alt="">#}
{#                        <div class="advice-content">#}
{#                            <h3>Учебная <br>#}
{#                                литература</h3>#}
{#                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea#}
{#                                commodo consequat. Duis aute irure dolor in</p>#}
{#                            <div class="">#}
{#                                <button class="advbtm" type="submit"><span>Узнать больше <b>  </b></span>#}
{#                                </button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <!--offers end-->
    <div class="container">
        <div class="row ">
            {% for pr in projects %}
                <div class="col-md-12  border nopadding">

                    <div class="col-md-6">
                        <div class="project1">
                            <h1>{{ pr.title|safe }}</h1>
                            <p>{{ pr.short_description|safe }}</p>
                            <div class="">
                                <a href="{% url 'project_single' id=pr.id %}">
                                    <button class="prjbtm" type="submit"><span>Подробнее</span></button>
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="project2">
                            <img src="{{ pr.image.url }}" alt="">
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

    <!--footer-->

    <div class="container-fluid nopadding">
        <div class="carousel-inner ">
            <img src="{% static 'images/footer.png' %}" alt="">
            <div class="container">
                <div class="black">
                    <div class="Rectangle"><img src="{% static 'images/RectangleWhite.png' %}" alt=""></div>

                    <p>БУДЬТЕ В КУРСЕ БИЗНЕС-МЕРОПРИЯТИЙ.
                        <br>
                        ПОДПИСЫВАЙТЕСЬ НА РАССЫЛКУ</p>

                </div>
                <div class="form">
                    <form id="contact" action="{% url 'save_contact'  %}" method="POST" name=" application ">
                        {% render_field form.mail placeholder="Ваш E-mail" required='required'%}
                        {% csrf_token %}
                        
{#                        <input name="email" type="email" id="applicationEmail" maxlength="20" placeholder="  Ваш E-mail"#}
{#                               required/>#}
                        <button class="button" type="submit"><span>Подписаться</span></button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!--footer end-->
{% endblock %}
{% block custom_scripts %}

{% endblock %}