{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
    <!--banner for mobile-->
    <div class="container-fluid nopadding mobile">
        <div class="carousel-inner">
            <div class="content1">
                <img src="{% static 'images/mobile.png' %}" alt="">
            </div>
            <div class="container">
                <div class="carousel-caption">
                    <h1>ПАРТНЕРСТВО</h1>
                    <p>Сотрудничество на взаимовыгодных<br>
                        условиях</p>

                </div>
            </div>
        </div>
    </div>
    <!--banner for desktop-->
    <div class="container-fluid nopadding desk">
        <div class="carousel-inner content">
            <img src="{% static 'images/partners.png' %}" alt="">
            <div class="container">
                <div class="black contacts-content">
                    <h1>ПАРТНЕРСТВО</h1>
                    <p>Сотрудничество на взаимовыгодных<br>
                        условиях</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row contacts">
            <div class="col-md-6">
                <!--info-->

                <div class="Rectangle"><img src="{% static 'images/Rectangle 4.png' %}" alt=""></div>
                <div class="title contact partners">
                    <p>ДЛЯ СРЕДСТВ <br>
                        МАССОВОЙ ИНФОРМАЦИИ</p>
                    <span>Мы с радостью пригласим вас на семинар и воспользуемся схемой взаимного <br>
                    оказания услуг. Мы уважаем и ценим труд представителей данных профессий и
                    пытаемся всячески усиливать представителей СМИ.<br>
                    Просто узнайте, когда будет ближайший семинар и свяжитесь с нами, если вы
                    хотели бы на него попасть и у вас есть что предложить нам взамен.
                    </span>

                </div>
                <!--info end-->
            </div>
            <div class="col-md-6">
                <!--info-->

                <div class="Rectangle"><img src="{% static 'images/Rectangle 4.png' %}" alt=""></div>
                <div class="title contact partners">
                    <p>ДЛЯ РЕКЛАМНЫХ АГЕНТСТВ<br>
                        И ТИПОГРАФИЙ</p>
                    <span>Как как основой продвижения наших услуг являются печатные носители в виде<br>
                    газет, афиш, писем с приглашениями, приглашаем вас к сотрудничеству на
                    взаимовыгодных условиях. Мы будем рады принять вас и ваших сотрудников на
                    обучение в нашу компанию. Сотрудничество в виде оказания друг другу услуг по
                    бартеру будет оптимальным фундаментом для строительства наших отношений.
                    </span>

                </div>
                <!--info end-->
            </div>
        </div>
    </div>

    <div class="container-fluid nopadding">
        <div class="carousel-inner event">
            <img src="{% static 'images/partners_container.png' %}" alt="">
            <div class="container ">
                <div class="black pperson">
                    <div class="Rectangle"><img src="{% static 'images/RectangleWhite.png' %}" alt=""></div>

                    <p>ВАШИ ВЫГОДЫ
                        <br>
                        ОТ СОТРУДНИЧЕСТВА</p>
                    <div class="row pnumbers">
                        <div class="col-md-4 col-sm-4">
                            <img src="{% static 'images/pstar.png' %}" alt="">
                            <br>
                            <b>Логотип вашей компании будет размещен на всех печатных материалах,
                                сопровождающих продвижение семинара, а также на нашем сайте. Также будет указано,
                                что вы являетесь информационным партнером семинара</b>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <img src="{% static 'images/pperson.png' %}" alt="">
                            <br>
                            <b>Определенное количество мест на семинаре, предназначенных для вас и ваших коллег</b>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <img src="{% static 'images/pdirectory.png' %}" alt="">
                            <br>
                            <b>Место для размещения стойки с вашей информацией</b>
                        </div>
                    </div>
                    <div class="row pnumbers">
                        <div class="col-md-4 col-sm-4">
                            <img src="{% static 'images/ptable.png' %}" alt="">
                            <br>
                            <b>Место для размещения баннера в конференц-зал</b>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <img src="{% static 'images/ptext.png' %}" alt="">
                            <br>
                            <b>Раздаточный материал с информацией об услугах
                                компании вы также можете подготовить и вложить в пакет для участников семинара</b>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <img src="{% static 'images/plike.png' %}" alt="">
                            <br>
                            <b>Рекомендацию и признание качества услуг Вашей компании,
                                а также благодарность за участие в проекте лично от организаторов семинара</b>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>

    <div class="container partners ">
        <div class="send border color partners">
            <h1>Оставьте заявку <br>на участие сейчас!</h1>
            <p>Заполните форму и мы свяжемся с вами.Вы узнаете о деталях мероприятия и сможете задать любые
                интересующие вас вопросы</p>
            <div class="borderform">
                <form id="application" action="{% url 'save_application' %}" method="POST" name=" application ">
                    <div class="col-md-4 nopadding ">
                        {% render_field application.name placeholder="Имя" required='required' class="inputstyle" %}
                        {% csrf_token %}
{#                        <input class="inputstyle " type="text" placeholder="Имя" required/>#}
                    </div>
                    <div class="col-md-4 nopadding">
                        {% render_field application.number placeholder="Номер телефона с кодом" required='required' class="inputstyle"%}
                        {% csrf_token %}
{#                        <input class="inputstyle " type="text" placeholder="Телефон с кодом" required/>#}
                    </div>
                    <div class="col-md-4 nopadding">
                        {% render_field application.mail placeholder="Ваш E-mail" required='required' class="inputstyle n"%}
                        {% csrf_token %}
{#                        <input class="inputstyle n" name="email" type="email" id="applicationEmail"#}
{#                               maxlength="20" placeholder="Ваш E-mail"#}
{#                               required/>#}
                    </div>
                    <div class="buttonstyle nopadding">
                        <button class="button" type="submit" form="application"><span>Отправить</span>
                        </button>
                    </div>

                </form>


            </div>
        </div>
    </div>
{% endblock %}
{#{% block custom_scripts %}#}
{#    <script>#}
{#    $('#application').on('submit', function (e) {#}
{#        e.preventDefault();#}
{#        console.log('hbujvbuvu');#}
{#        $.ajax({#}
{#            method: 'POST',#}
{#            url: $(this).attr('action'),#}
{#            data: $(this).serialize(),#}
{#            dataType: 'json',#}
{#            success: function (data) {#}
{#                if (data.success) {#}
{#                    alert('yes')#}
{#                } else {#}
{#                    alert(data.message);#}
{#                }#}
{#            },#}
{#            error: function () {#}
{#                alert('error')#}
{#            }#}
{#        })#}
{#    })#}
{#    </script>#}
{#{% endblock %}#}