{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
    <!--BORDER-->
    <div class="container">
        <div class="row ">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-3 more col-sm-3 event ">
                    <div class="speakerpart1 event">
                        <img src="{% static 'images/blue.png' %}" alt="">
                        <div class="speakerpart1-content">
                            <div class="calendar">

                                <p><img src="{% static 'images/calendar.png' %}" alt=""> <span>Состоится:</span></p>
                                <span>{{ event.date|safe }}</span>

                            </div>
                            <img src="{% static 'images/dot.png' %}" alt="">
                            <div class="place">

                                <p><img src="{% static 'images/place.png' %}" alt=""> <span>Место:</span></p>
                                <span>Ресторан-паб "Варяг"</span>
                            </div>
                        </div>
                    </div>
                    <div class="speakerpart2">
                        <img src="{% static 'images/speaker.png' %}" alt="">
                        <div class="speakerpart2-content">
                            <div class="one">
                                <p><img src="{% static 'images/one.png' %}" alt=""><span>Спикер:</span></p>
                                <span>Игорь Давыдов</span>
                                <br>
                                <a href="#">О спикере <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="evbanner">
                        <img src="{% static 'images/evbanner.png' %}" alt="">
                    </div>
                </div>
                <div class="col-md-9 long nopadding col-sm-9 col-xs-9 event">

                    <!--info-->

                    <div class="Rectangle"><img src="{% static 'images/Rectangle 4.png' %}" alt=""></div>
                    <div class="title">
                        <p>{{ event.title }}</p>
                    </div>
                    <!--info end-->
                    <div>
                        <p>{{ event.short_description|safe }}</p>
                        <br>
                    </div>

                    <div class="title program">
                        <p>ПРОГРАММА СЕМИНАРА</p>

                    </div>
                    {% for step in event.steps.all %}
                        <div class="recruitment color">
                            <h5>{{ step.step_title }}</h5>
                            {{ step.description|safe }}
                        </div>
                    {% endfor %}
                    <div class="">
                        <div class="send border color">
                            <h1>Оставьте заявку <br>на участие сейчас!</h1>
                            <p>Заполните форму и мы свяжемся с вами.Вы узнаете о деталях мероприятия и сможете
                                задать любые
                                интересующие вас вопросы</p>
                            <div class="borderform">
                                <form id="application" action="{% url 'save_application' %}" method="POST" name="">
                                    <div class="col-md-4 nopadding">
                                        {% render_field application.name placeholder="Имя" required='required' class="inputstyle" %}
                                        {% csrf_token %}
{#                                        <input class="inputstyle " type="text" placeholder="Имя" required/>#}
                                    </div>
                                    <div class="col-md-4 nopadding">
                                        {% render_field application.number placeholder='Телефон с кодом' required='required' class='inputstyle' %}
                                        {% csrf_token %}
{#                                        <input class="inputstyle " type="text" placeholder="Телефон с кодом"#}
{#                                               required/>#}
                                    </div>
                                    <div class="col-md-4 nopadding">
                                        {% render_field application.mail placeholder='E-mail' required='required' class="inputstyle n" %}
                                        {% csrf_token %}
{#                                        <input class="inputstyle n" name="email" type="email" ="applicationEmail"#}
{#                                               maxlength="20" placeholder="Ваш E-mail"#}
{#                                               required/>#}
                                    </div>
                                    <div class="buttonstyle nopadding">
                                        <button class="button" type="submit" form="application">
                                            <span>Отправить</span>
                                        </button>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--BORDER END-->
{% endblock %}