{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
   <div class="container">
        <!--info-->

        <div class="Rectangle"><img src="{% static 'images/Rectangle 4.png' %}" alt=""></div>
        <div class="title">
            <p>{{ project.title|safe }}</p>
        </div>
        <!--info end-->
        {{ project.description|safe }}


    </div>

{% endblock %}