{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}

    <!--book-single for mobile-->
    <div class="container book mobile">
        <span>ТЕХНИКИ ХОЛОДНЫХ ЗВОНКОВ</span>
        <p>Автор: Стивен Шиффман</p>
        <div class="ffff book">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="book-single">

                    <img src="{% static 'images/b-single.png' %}" alt="">

                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12nopadding">
                    <div class=" b-about">

                        <p>
                            ISBN: 978-5-9905804-4-2 <br>
                            Год издания: 2016 <br>
                            Тип обложки: твердый переплет <br>
                            Объем: 230 страниц
                        </p>
                    </div>
                </div>
                <div class="col-md-12 price nopadding">
                    <span>1020 сом</span>
                    <div class="cart_quantity_button mobile">
                        <b class="cart_quantity_up" href=""> + </b>
                        <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off"
                               size="2">
                        <b class="cart_quantity_down" href=""> - </b>
                        <button class="button button2" type="submit"><span>В корзину</span></button>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-12  nopadding">
            <div class="book-content">
                <h5>Описание:</h5>
                <p>Продажи затрагивают каждого человека на этой планете независимо от поста, должности и места в жизни.
                    Руководитель вы или уборщица вы должны уметь донести до других свою позицию, донести то, во что вы
                    верите. Можете вы продать свои убеждения, свои идеи и свои мечты другим?</p>

                <p> Думаете бизнес терпит крах из-за недостатка средств? Нет! Главная причина краха бизнеса, сотрудника,
                    управленца в неспособности продавать идеи компании. С одной или другой стороны кто-то кому-то что-то
                    продает. Представьте, что вы преуспеваете в жизни, создаете финансы, продаете идеи. Вы влияете на
                    свою
                    жизнь и свой успех! Стоит ли купить эту книгу, чтобы овладеть искусством продаж? Несомненно.</p>
            </div>
        </div>
    </div>
    <!--end-->
    <div class="container book">
        <span>{{ book.title }}</span>
        <p>Автор: {{ book.autor }}</p>
        <div class="ffff book">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="book-single">

                    <img src="{{ book.image.url }}" alt="">

                </div>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <div class="col-md-8 col-sm-8 col-xs-8">
                    <div class="price1">
                        <span>{{ book.price }} сом</span>
                        <div class="cart_quantity_button">
                            <b class="cart_quantity_up" href=""> + </b>
                            <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off"
                                   size="2">
                            <b class="cart_quantity_down" href=""> - </b>
                            <button class="button button2" type="submit"><span>В корзину</span></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 b-about">
                    <p>
                        {{ book.short_description|safe }}
                    </p>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="book-content">
                        <h5>Описание:</h5>
                        <p>{{ book.description|safe }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--info-->
    <div class="container our">
        <div class="Rectangle"><img src="{% static 'images/Rectangle 4.png' %}" alt=""></div>
        <div class="title">
            <p>ВОЗМОЖНО ВАС
                <br>
                ТАКЖЕ ЗАИНТЕРЕСУЕТ</p>
        </div>
    </div>

    <div class="container">
        <div class="ffff trades">
            {% for bk in single %}
                <a href="{% url 'single_book' id=bk.id %}">

                    <div class="col-md-3 col-sm-3">

                        <div class="trades-content">
                            <div style="max-height: 180px;overflow: hidden;margin-bottom: 20px;margin-top: 20px;">
                                <img class="norm3" src="{{ bk.image.url }}" alt="" style="width: 142px;">
                            </div>

                            <p class="span">{{ bk.title }}</p>
                            <span>{{ bk.price }} сом</span>
                            <div class="cart_quantity_button">
                                <b class="cart_quantity_up"> + </b>
                                <input class="cart_quantity_input" type="text" name="quantity" value="1"
                                       autocomplete="off"
                                       size="2">
                                <!--<input type="text" class="">-->
                                <b class="cart_quantity_down"> - </b>
                                <button class="button button2" type="submit"><span>В корзину</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </a>
            {% endfor %}


        </div>
    </div>

    <div class="container-fluid nopadding books">
        <div class="carousel-inner ">
            <img src="{% static 'images/newsletter.png' %}" alt="">
            <div class="container">
                <div class="black">
                    <div class="Rectangle"><img src="{% static 'images/RectangleWhite.png' %}" alt=""></div>

                    <p>БУДЬТЕ В КУРСЕ НОВЫХ ПОСТУПЛЕНИЙ.
                        <br>
                        ПОДПИСЫВАЙТЕСЬ НА РАССЫЛКУ!</p>

                </div>
                <div class="form">
                    <form id="contact" action="{% url 'save_contact' %}" method="POST" name="">
                        {% render_field form.mail placeholder='Ваш E-mail' required='required' %}
                        {% csrf_token %}
{#                        <input name="email" type="email" maxlength="20" placeholder="  Ваш E-mail"#}
{#                               required/>#}
                        <button class="button" type="submit"><span>Подписаться</span></button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!--footer end-->


{% endblock %}