{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>{% block title %}ESTO{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block custom_styles %}
    {% endblock %}
</head>
<body>
<!--header-->
<div class="navbar navbar-collapse navbar-static-top">
    <div class="container">
        <div class="navbar-header">

            <ul class="for_mobile">
                <li id="toggler1" class="stash cart"><a href="#"><img src="{% static 'images/cart.png' %}" alt="">
                    <div class="sum">26</div>
                </a>
                </li>

                <li class="call"><a href="{% url 'contacts' %}"><img src="{% static 'images/call.png' %}" alt=""> <span>0312 89 77 51</span></a>
                </li>
                <div id="box1" style="display:none">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            Книга
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">Цена</div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            Кол-во
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">Итог</div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 item">
                        <div class="col-md-4 col-sm-4 col-xs-4 itemthum"><img src="{% static '' %}" alt=""><span
                                class="itmdescr">Some describe</span></div>
                        <div class="col-md-3 col-sm-3 col-xs-3 price">Item's price</div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <div class="cart_quantity_button inp1">

                                <input class="cart_quantity_input inp1" type="text" name="quantity" value="0"
                                       autocomplete="off"
                                       size="2">
                                <!--<input type="text" class="">-->


                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 result">Result</div>
                        <div class="col-md-1 col-sm-1 col-xs-1"><a href="#"><i class="fa fa-trash-o"
                                                                               aria-hidden="true"></i></a></div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 item">
                        {% for foo in request.session.cart %}
                            zdbzbzb


                            <div class="col-md-4 col-sm-4 col-xs-4 itemthum"><img src="{% static '' %}" alt=""><span
                                    class="itmdescr">Some describe</span></div>
                            <div class="col-md-3 col-sm-3 col-xs-3 price">Item's price</div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <input type="number" class="itemcount">
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2 result">Result</div>
                            <div class="col-md-1 col-sm-1 col-xs-1"><i class="fa fa-trash-o" aria-hidden="true"></i>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 itog"> Itog: skolko to tam vyshlo</div>
                    <div class="col-md-12 col-sm-12 col-xs-12 delivery">
                        <div class="col-md-6 col-sm-6 col-xs-6 details"><a href=""><i class="fa fa-info-circle"
                                                                                      aria-hidden="true"></i>Details of
                            you items</a></div>
                        <div class="col-md-6 col-sm-6 col-xs-6 buts1">
                            <form action="" class="gitems">
                                <div class="col-md-6 col-sm-6 col-xs-6 buts">
                                    <button type="button" class="cleartrash">ClearTrash</button>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 buts">
                                    <button type="button" class="getitems">Getitems</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </ul>

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
                <span class="sr-only">Открыть навигацию</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a style="z-index: 300;position: relative;" class="navbar-brand" href="{% url 'index' %}"><b> <img id="logo"
                                                                                                               src="{% static 'images/logo esto.png' %}"
                                                                                                               alt=""></b></a>

            {#<ul class="nav navbar-nav navbar-left">#}
            {#<a class="navbar-brand" href="{{ path('index') }}"><b><img id="logo" src="{{ asset('bundles/app/images/logo%20esto.png') }}" alt="ESTO"></b></a>#}
            {#</ul>#}
        </div>

        <div class="collapse navbar-collapse" id="responsive-menu">


            <ul class="nav navbar-nav">

                <li><a href="{% url 'events' %}">Мероприятия</a></li>
                {#                <li><a href="#">Услуги</a>#}
                <li><a href="{% url 'books' %}">Книги</a></li>
                <li><a href="">Видеоуроки</a></li>
                <li><a href="{% url 'articles' %}">Статьи</a></li>
                <li><a href="{% url 'partners' %}">Партнерство</a></li>
                <li><a href="{% url 'contacts' %}">Контакты</a></li>
                <!--<li class="cart">-->
                <!--<a href="#"><img src="" alt=""></a>-->
                <!--<div class="sum">26</div>-->
                <!--</li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="stash cart"><a href="#" id="toggler" data-open="false"><img
                        src="{% static 'images/cart.png' %}" alt="">
                    <div class="sum">26</div>
                </a>

                </li>

                <li class="call"><a href="{% url 'contacts' %}"><img src="{% static 'images/call.png' %}" alt=""> <span>0312 89 77 51</span></a>
                </li>
                <div id="box" style="display:none">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            Книга
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">Цена</div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            Количество
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">Итог</div>
                    </div>

                    {% for foo in request.session.cart %}
                        <div class="col-md-12 col-sm-12 col-xs-12 item">
                            <div class="col-md-4 col-sm-4 col-xs-4 itemthum"><img src="{{ foo.img }}" alt=""><span
                                    class="itmdescr"><p></p></span></div>
                            <div class="col-md-3 col-sm-3 col-xs-3 price"><p>{{ foo.price }}</p></div>
                            <div class="col-md-2 col-sm-2 col-xs-2 inp">
                                <div class="cart_quantity_button inp1">
                                    <b class="cart_quantity_up" href="#"> + </b>
                                    <input class="cart_quantity_input" type="text" name="quantity" value="1"
                                           autocomplete="off"
                                           size="2">
                                    <!--<input type="text" class="">-->
                                    <b class="cart_quantity_down" href="#"> - </b>

                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2 result"><p></p></div>
                            <div class="col-md-1 col-sm-1 col-xs-1"><a href="#"><i class="fa fa-trash-o"
                                                                                   aria-hidden="true"></i></a></div>
                        </div>
                    {% endfor %}

                    <div class="col-md-12 col-sm-12 col-xs-12 itog"> Itog: skolko to tam vyshlo</div>
                    <div class="col-md-12 col-sm-12 col-xs-12 delivery">
                        <div class="col-md-6 col-sm-6 col-xs-6 details"><a href=""><i class="fa fa-info-circle"
                                                                                      aria-hidden="true"></i>Details of
                            you items</a></div>
                        <div class="col-md-6 col-sm-6 col-xs-6 buts1">
                            <form action="" class="gitems">
                                <div class="col-md-6 col-sm-6 col-xs-6 buts">
                                    <button type="button" class="cleartrash">ClearTrash</button>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 buts">
                                    <button type="button" class="getitems">Getitems</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </ul>


        </div>
        <!--<div class="dropdown">-->
        <!--dcwfwfwfw-->
        <!--</div>-->
        <!--<ul class="nav navbar-nav navbar-right">-->

        <!--/-->
        <!--</ul>-->
    </div>
</div>
<!--headerEnd-->
<div>
    {% block content %}{% endblock %}
</div>
<!--Sunrise-->
<div class="container sunrise">
    <div class="col-md-6  col-sm-6 col-xs-6  nopadding floatleft">
        <i class="fa fa-copyright" aria-hidden="true"></i><span>Эсто Консалтинг</span>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6 nopadding floatright">
        <p>Разработка проекта</p>
        <img src="{% static 'images/LOGO_MINI.png' %}" alt="">
    </div>
</div>
<!--Sunrise End-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'js/bootstrap.js' %}"></script>
<script type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('#toggler').on('click', function (event) {
            event.preventDefault();
            if ($(this).attr('data-open') == 'false') {
                $('#box').fadeIn('slow');
                $(this).attr('data-open', 'true');
            } else {
                $('#box').fadeOut('slow');
                $(this).attr('data-open', 'false');
            }
        });
        $('#toggler1').on('click', function (event) {
            event.preventDefault();
            if ($(this).attr('data-open') == 'false') {
                $('#box1').fadeIn('slow');
                $(this).attr('data-open', 'true');
            } else {
                $('#box1').fadeOut('slow');
                $(this).attr('data-open', 'false');
            }
        });
    });
</script>
{% block custom_scripts %}

{% endblock %}
<script>
    var plus = $('.cart_quantity_up');
    var minus = $('.cart_quantity_down');
    $(plus).each(function (i, obj) {
        var tempInput = $('input', $(obj).parent());
        $(tempInput).val(0);
        $(obj).on('click', function (event) {
            event.preventDefault();

            var input = $('input', $(obj).parent());
            var value = parseInt($(input).val());
            value++;
            $(input).val(value);
        });
    });
    $(minus).each(function (i, obj) {
        $(obj).on('click', function (event) {
            event.preventDefault();

            var input = $('input', $(obj).parent());
            var value = parseInt($(input).val());
            if (value > 0) value--;
            $(input).val(value);
        })
    });
    $('#contact').on('submit', function (e) {
        e.preventDefault();
        console.log('hbujvbuvu');
        $.ajax({
            method: 'POST',
            url: $(this).attr('action'),
            data: $(this).serialize(),
            dataType: 'json',
            success: function (data) {
                if (data.success) {
                    {#                    alert('yes');#}
                    $('#locked').css({
                        "display": "none"
                    })
                } else {
                    alert(data.message);
                }
            },
            error: function () {
                alert('error')
            }
        })
    })

</script>
<script>
    $('#application').on('submit', function (e) {
        e.preventDefault();
        console.log('hbujvbuvu');
        $.ajax({
            method: 'POST',
            url: $(this).attr('action'),
            data: $(this).serialize(),
            dataType: 'json',
            success: function (data) {
                if (data.success) {
                    alert('yes')
                } else {
                    alert(data.message);
                }
            },
            error: function () {
                alert('error')
            }
        })
    })
</script>
</body>
</html>