.group::before,
.group::after {
    content: "";
    display: table;
}

.group::after {
    clear: both;
}

.group {
    clear: both;
    *zoom: 1;
}

/*header*/
.navbar-static-top {
    margin-bottom: 13px;
}

.nav > li > a {
    color: #000000;

}

.nav.navbar-nav {
    margin: auto;
}

.nav > li > a:hover {
    color: #559bcd;
    background-color: transparent;

}

@media (max-width: 992px) {
    .nav.navbar-nav {
        /*padding-left: 10px;*/
        padding-top: 10px;
    }

    .nav > li > a {
        padding: 7px 7px;
    }

    #logo {
        width: 130px;
    }
}

@media (min-width: 992px) {
    .nav.navbar-nav {
        padding-top: 20px;
        /*padding-left: 31px;*/
    }

    #logo {

    }
}

@media (max-width: 768px) {
    .nav > li > a {
        padding: 7px 7px;
    }

    #logo {
        width: 100px;
    }

}

@media (min-width: 768px) {
    .nos {
        width: 180px;
        height: 50px;
        bottom: 35px;
    }

}

.nav.navbar-nav {

    padding-bottom: 20px;
    padding-top: 20px;

}

.navbar-toggle {
    background-color: #008bd2;
}

.navbar-toggle .icon-bar {
    background-color: white;
}

@media (max-width: 768px) {

    .navbar-toggle {
        margin-top: 13px;
        margin-left: 15px;

    }

}

/*header end*/
/*banner*/
.nopadding {
    padding: 0;
}

.content > img {
    max-width: 1920px;
    width: 100%;
}

.carousel-caption {
    /*text-align: left;*/
    /*top: 25%;*/
    /*left: 12.5%;*/
    color: #0069b4;
    text-shadow: none;
    top: 5%;
    left: 15px;

}

.carousel-caption h1 {
    /*font-size: 24px;*/
    font-weight: 600;
}

.carousel-caption p {
    font-size: 16px;
    margin-top: 15px;
    text-shadow: none;
}

@media (max-width: 992px) {
    .carousel-caption p {
        font-size: 13px;
        margin-top: 10px;
    }

    .carousel-caption h1 {
        font-size: 25px;
    }

    .carousel-caption {
        text-align: left;
        top: 30%;
    }
}

@media (min-width: 640px) {
    .carousel-caption {
        text-align: left;
        top: -10%;
    }
}

@media (max-width: 585px) {
    .carousel-caption p {
        font-size: 15px;

        margin-bottom: 30px;
    }

    .carousel-caption h1 {
        font-size: 20px;
        line-height: 1.3;
    }

    .carousel-caption {

        top: 4%;

    }

}

@media (min-width: 650px) {
    .carousel-caption {
        top: -5%;
        left: 3%;
        text-align: left;
    }

    .info {
        margin-top: 20px;
    }
}

@media (max-width: 360px) {
    .carousel-caption p {
        font-size: 14px;
        margin-top: 10px;
    }

    .carousel-caption h1 {
        font-size: 20px;
    }

    .carousel-caption {
        padding-top: -20px;

    }

    /*.nos {*/
    /*width: 90px;*/
    /*height: auto;*/
    /*}*/

}

@media (max-width: 321px) {
    .carousel-caption p {
        font-size: 12px;
        margin-top: 10px;
    }

    .carousel-caption h1 {
        font-size: 18px;
    }

    .carousel-caption {
        top: -5%;

    }
}

@media (min-width: 1025px) {
    .carousel-caption {
        text-align: left;
        top: 15%;
        left: 12.5%;

    }

    .carousel-caption p {

    }

    .carousel-caption h1 {
        line-height: 1.4;
        font-size: 35px;
    }
}

/*@media (min-width: 991px) {*/
/*.carousel-caption p{*/
/*font-size: 15px;*/
/*margin-top: 15px;*/
/*}*/
/*}*/
.nos {
    /*font-size: 10px;*/

    background-color: #0069b4;
    border-radius: 5px;
    /*color: white;*/
    position: absolute;

    text-align: center;
    margin: auto;
}

.nos span {
    font-size: 10px;
    color: white;
    text-align: center;
    margin: auto;
}

.info {
    width: 180px;
    height: 48px;
    background-color: #0069b4;
    border: none;
    color: white;
    border-radius: 5px;
    /*margin-top: 40px;*/
}

.info span {
    font-size: 11px;

}

.info img {
    padding-left: 15px;
}

/*banner end*/
/*Services*/
.Rectangle {
    padding-bottom: 10px;
}

.title {
    margin-bottom: 65px;
}

.services img {
    max-width: 346px;
    width: 100%;
    height: auto;
}

.our {
    position: relative;
}

@media (min-width: 767px) {
    .bottom {
        top: 60%;
    }
}

@media (max-width: 768px) {
    .services img {
        margin-bottom: 15px;
        max-width: 382px;
    }

    .navbar-collapse {
        padding: 0;
    }

    .title {
        margin-bottom: 25px;
    }

    .our {
        margin-top: 20px;
    }

    .top {
        padding-top: 30px;
        padding-left: 20px;
        font-size: 18px;
    }

    .bottom {
        padding: 5px;
        top: 70%;
        left: 35px;
    }

    .column {
        /*max-width: 555px;*/
    }

}

.about {
    position: absolute;
}

.column {
    position: relative;

    width: 100%;
}

.bottom {
    position: absolute;
    color: white;
    background-color: #0069b4;
    text-align: center;
    top: 60%;
}

.our {
    margin-top: 40px;
}

.title {
    margin-bottom: 30px;
}

.top {
    color: white;
    padding-top: 30px;
    padding-left: 35px;
    font-size: 18px;
    max-width: 235px;
}

.bottom {
    padding: 5px;
    /*top: 70%;*/
    left: 50px;
    border: none;
}

@media (max-width: 992px) {
    .top {
        padding-left: 10px;
        font-size: 15px;
    }

    .bottom {
        left: 27px;
    }
}

/*.group {*/
/*position: relative;*/
/*max-width: 555px;*/
/*width: 100%;*/
/*margin: auto;*/
/*}*/

/*Services end*/
/*footer*/
.title {
    color: #0069b4;
    font-weight: 700;
}

#foot {
    max-width: 1920px;
    width: 100%;
    height: auto;
}

.black {
    position: absolute;
    z-index: 200;
    top: 77px;
    color: white;
    font-weight: 600;
}

/*fssbsnbswnbabhnwbwgwgwrgwfffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff*/
/*footer*/
.button {
    background-color: #0069b4;
    color: white;
    border: none;
    width: 130px;
    height: 40px;
    font-size: 12px;
    left: -5px;
    position: relative;

}

input {
    width: 540px;

    height: 40px;
    border: none;

}

@media (max-width: 700px) {
    .button {
        max-width: 90px;
        width: 100%;
        position: relative;
        font-size: 10px;
        left: 0;
        margin-top: 25px;
    }

    input {
        width: 92%;

    }
}

.form {
    width: 100%;
    position: absolute;
    top: 200px;
}

/*footer end*/
/*banner for mobile*/
.advice.mobile {
    display: none;
}

.advice {
    display: none;
}

@media (min-width: 1024px) {
    .advice.mobile {
        display: none;
    }

    .advice {
        display: block;
    }
}

@media (max-width: 500px) {
    .container-fluid.nopadding.mobile {
        display: block;
    }

    .container-fluid.nopadding.desk {
        display: none;
    }

    .advice.mobile {
        display: none;
    }

    .advice {
        display: block;
    }
}

@media (min-width: 500px) {
    .container-fluid.nopadding.mobile {
        display: none;
    }

    .container-fluid.nopadding.desk {
        display: block;
    }

    .advice.mobile {
        display: none;
    }

    .advice {
        display: block;
    }
}

@media (max-width: 992px) {
    .container-fluid.nopadding.blue {
        display: none;
    }

    .container-fluid.nopadding.blue1 {
        display: block;
    }

    .advice.mobile {
        display: block;
    }


}

@media (min-width: 768px) {
    .advice {
        display: none;
    }

    .advice.mobile {
        display: block;
    }
}

@media (min-width: 992px) {
    .container-fluid.nopadding.blue1 {
        display: none;
    }

    .container-fluid.nopadding.blue {
        display: block;
    }

    .advice {
        display: block;
    }

    .advice.mobile {
        display: none;
    }
}

@media (max-width: 500px) {

    .nos1 {
        /*font-size: 10px;*/

        background-color: #0069b4;
        border-radius: 5px;
        /*color: white;*/
        position: absolute;

        text-align: center;
        margin: auto;
    }

    .nos1 span {
        font-size: 10px;
        color: white;
        text-align: center;
        margin: auto;
    }

    .info1 {
        height: 35px;
        background-color: #0069b4;
        border: none;
        color: white;
        border-radius: 5px;

    }

    .info1 span {
        font-size: 11px;

    }

    .info1 img {
        padding-left: 15px;
    }

    .nav > .call {
        display: none;

    }

    .nav > .cart {
        display: none;
    }

}

.content1 img {
    max-width: 768px;
    width: 100%;
    height: auto
}

/**/

/*numbers*/
.numbers > img {
    max-width: 1519px;
    width: 100%;
    height: auto;
}

.nambers-caption {
    position: relative;
    top: -400px;
    z-index: 1000;
    max-width: 1140px;
    width: 100%;
}

.text > h4 {
    color: white;
    line-height: 1.4;
    margin-bottom: 44px;
}

.texts {
    position: relative;
}

.row > .col-md-3 {
    width: 240px;

}

.row > .col-md-3 > .icons > h5 {
    position: relative;
    left: 70px;
    top: -37px;
    color: white;
    margin: 0;
    font-size: 25px;
}

.div {
    position: relative;
    left: 70px;
    top: -40px;
}

.row > .col-md-3 > .icons > p {
    position: relative;
    top: -18px;
    color: white;
    /*font-size: 12px;*/
}

/*.image-content {*/
/*position: relative;*/
/*max-width: 346px;*/
/*width: 100%;*/
/*height: auto;*/
/*margin: auto;*/
/*}*/

/*.image-content > img {*/
/*position: relative;*/
/*width: 100%;*/
/*margin: auto;*/
/*}*/

.icons {
    position: relative;
    max-width: 240px;
    width: 100%;
    height: auto;
    margin: auto;

}

.numbers {
    margin-bottom: 100px;
}

.pictures {
    margin-bottom: 60px;
}

.picture1 {
    height: 430px;
    /*background-image: url(../images/coming1.png);*/
    background-repeat: no-repeat;
    border-right: 7.5px solid #ffffff;
    position: relative;

}

.picture2 {
    /*background-image: url(../images/coming2.png);*/
    height: 430px;
    background-repeat: no-repeat;
    border-left: 7.5px solid #ffffff;
    background-position: center;
    position: relative;

}

.picture3 {
    height: 430px;
    /*background-image: url(../images/coming3.png);*/
    background-repeat: no-repeat;
    margin-top: 15px;
    border-right: 7.5px solid #ffffff;
    background-position: center;
    position: relative;
}

.picture4 {
    height: 430px;
    /*background-image: url(../images/coming4.png);*/
    background-repeat: no-repeat;
    margin-top: 15px;
    border-right: 7.5px solid #ffffff;
    border-left: 7.5px solid #ffffff;
    background-position: center;
    position: relative;
}

.picture5 {
    height: 430px;
    /*background-image: url(../images/coming5.png);*/
    background-repeat: no-repeat;
    margin-top: 15px;
    border-right: 7.5px solid #ffffff;
    border-left: 7.5px solid #ffffff;
    background-position: center;
    position: relative;
}

.picture6 {
    height: 430px;
    /*background-image: url(../images/coming6.png);*/
    background-repeat: no-repeat;
    margin-top: 15px;
    border-left: 7.5px solid #ffffff;
    background-position: center;
    position: relative;
}

@media (max-width: 769px) {
    .picture1 {
        background-position: -280px;
    }

}



.img1 {
    height: 264px;
    /*background-image: url(../images/end1.png);*/
    background-repeat: no-repeat;
    margin-top: 15px;
    border-right: 7.5px solid #ffffff;
    background-position: center;
    position: relative;
}

.img2 {
    height: 264px;
    /*background-image: url(../images/end2.png);*/
    background-repeat: no-repeat;
    margin-top: 15px;
    border-right: 7.5px solid #ffffff;
    border-left: 7.5px solid #ffffff;
    background-position: center;
    position: relative;
}

.img3 {
    height: 264px;
    /*background-image: url(../images/end3.png);*/
    background-repeat: no-repeat;
    margin-top: 15px;
    border-right: 7.5px solid #ffffff;
    border-left: 7.5px solid #ffffff;
    background-position: center;
    position: relative;
}

.img4 {
    height: 264px;
    /*background-image: url(../images/end4.png);*/
    background-repeat: no-repeat;
    margin-top: 15px;
    border-left: 7.5px solid #ffffff;
    background-position: center;
    position: relative;
}
@media (max-width: 767px) {
    /*.img2,.img3{*/
    /*border-left: 0;*/
    /*}*/

    .picture2, .picture3, .picture4, .picture5, .picture6 {
        border: none;
        background-size: cover;
    }

    .picture1 {
        border-right: 0;
    }

    .picture2 {
        margin-top: 15px;
    }

    .img1, .img2, .img3, .img4 {
        /*border: none;*/
        background-size: cover;
    }
    .img2,.img3{
        border-left: 0;
        border-right: 0;
    }

    .img1 {
        border-right: 0;
    }
    .img4{
        border-left: 0;
    }
}
/**/
/**/

@media (max-width: 769px) {
    .icons {
        margin: 0;
    }

    .icons > h5 {
        position: relative;
        left: 67px;
        top: -45px;
        font-size: 18px;
    }

    .black.qwer > p {
        margin-bottom: 30px;
    }

    .black.qwer {
        position: absolute;
        z-index: 200;
        top: 20px;
        color: white;
        font-weight: 500;

    }

    .div {
        top: -55px;
        left: 60px;
    }

    .icons > p {
        position: relative;
        top: -30px;
        font-size: 17px;
    }

    .div.div1 {
        width: 66px;
    }
}

@media (max-width: 415px) {
    .icons > h5 {
        position: relative;
        left: 77px;
        top: -45px;
        font-size: 20px;
    }

    .black.qwer {
        position: absolute;
        z-index: 200;
        top: 10px;
        color: white;
        font-weight: 500;

    }

    .div {
        top: -55px;
        left: 70px;
    }

    .icons > p {
        position: relative;
        top: -30px;
        font-size: 13.5px;
    }
}

@media (max-width: 320px) {
    .icons > h5 {
        position: relative;
        left: 67px;
        top: -45px;
        font-size: 18px;
    }

    .black.qwer {
        position: absolute;
        z-index: 200;
        top: 10px;
        color: white;
        font-weight: 500;

    }

    .div {
        top: -55px;
        left: 60px;
    }

    .icons > p {
        position: relative;
        top: -30px;
        font-size: 13px;
    }

    .div.div1 {
        width: 66px;
    }
}

@media (min-width: 992px) {
    .black p {
        font-size: 20px;
    }

    .title {
        font-size: 20px;
    }

    .icons p {
        font-size: 21px;
        font-weight: 500;
    }

    .Rectangle > p {

    }
}

@media (min-width: 1024px) {
    .black p {
        font-size: 20px;
        margin-bottom: 50px;
    }

    .title {
        font-size: 20px;
    }

    .icons p {
        font-size: 18px;
        font-weight: 500;
    }

}

.pictures img {
    margin-bottom: 60px;
}

/*offers*/

.advice img {
    /*max-width: 263px;*/
    width: 100%;
    height: auto;
}

@media (max-width: 1024px) {
    .advice-content h3 {
        font-size: 15px;
        font-weight: 600;
    }
}

.advice-content button {
    /*margin-bottom: 20px;*/
    margin-top: 20px;
    background-color: #0069b4;

}

.advbtm span {
    padding: 5px;
    color: white;
    font-size: 12px;

}

.prjbtm {
    background-color: #0069b4;
    border: none;
}

.prjbtm span {
    padding: 5px;
    color: white;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
}

/**/
.col-md-12.border {
    border: 15px solid #0069b4; /* Параметры границы */
    /*left: 15px;*/
    max-width: 1070px;
    width: 100%;
    padding: 50px;
    margin-bottom: 90px;
    margin-top: 70px;

}

@media (min-width: 1292px) {
    .col-md-12.border {
        left: 15px;
    }
}

.col-md-12.border img {
    max-width: 534px;
    width: 100%;
}

.project1 h1 {
    font-size: 38px;
    color: #0069b4;
    margin-bottom: 30px;
    font-weight: 600;

}

.project1 p {
    margin-bottom: 70px;
    max-width: 300px;
}

.advice-content {
    border: 1px solid #0069b4;
    /*margin: auto;*/
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 50px;
    /*max-width: 263px;*/
    width: 100%;
    /*border-top: none;*/
}

/*project end*/

/*Sunrise*/

.dev img {
    right: -180px;
    position: relative;
}

.sunrise {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (min-width: 1024px) {
    .container.sunrise {
        display: block;
    }
}

@media (max-width: 768px) {
    .project1 h1 {
        font-size: 28px;
    }

    .col-md-12.border {
        padding: 20px;
    }

    .border img {
        padding-top: 20px;
    }
}

.col-md-6.nopadding.floatright p {
    position: absolute;
    right: 100px;
}

.col-md-6.nopadding.floatright img {
    position: absolute;
    right: 0;
}

@media (max-width: 768px) {
    .col-md-6.nopadding.floatright img {
        width: 65px;
    }

    .col-md-6.nopadding.floatright p {
        font-size: 11px;
        width: 120px;
        right: 58px;
    }

    .col-md-6.nopadding.floatleft {
        font-size: 11px;
    }
}

/*INDEX END*/
/*EVENTS*/
.container.comingline1.nopadding {
    /*width: 1120px;*/
}

.col-md-9.col-sm-9.coming1 {
    /*max-width: 810px;*/
    /*max-height: 430px;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*padding-right: 0;*/
    position: relative;

}

.coming-content > p {
    opacity: 0.8;
    font-size: 13px;
    font-weight: 400;
    width: 90%;

}

.coming-content > h4 {
    margin-bottom: 30px;
    font-weight: 600;
}

.coming-content.one {
    padding-left: 40px;
}

.coming-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 15px;
    padding-bottom: 20px;
    color: white;
    z-index: 2;
}

.date.ltl {
    width: 83px;
    height: 60px;
    background-color: #0069b4;
    top: 40px;
    left: 15px;
}
.date.ltl.ltb{
    width: 70px;
    height: 40px;
    background-color: black;
}
.date.ltl.ltb>p{
    font-size: 8.5px;
    padding-top: 8px;
}
.date.ltl > p {
    font-size: 10px;
    padding-left: 15px;
}

.date {
    width: 120px;
    height: 70px;
    background-color: #ea112f;
    color: white;
    font-size: 15px;
    /*text-align: center;*/
    position: absolute;
    top: 40px;
    left: 40px;
}

.date > p {
    font-size: 14px;
    font-weight: 600;
    padding-left: 25px;
    padding-top: 13px;
}

.coming-content:before {
    content: '';
    position: absolute;
    width: inherit;
    left: 0;
    bottom: 0;
    height: 200px;
    background: linear-gradient(to top, #000, transparent);
    opacity: 0.8;
    z-index: -1;
}

.coming2-content > p {
    opacity: 0.8;
    font-size: 13px;
    font-weight: 400;
}

.coming2-content > h5 {
    margin-bottom: 20px;
    font-weight: 600;
}

.col-md-3.col-sm-3.coming2 {
    position: relative;
}

.coming2-content {
    position: absolute;
    bottom: 0;
    width: 260px;
    padding-left: 30px;
    padding-bottom: 20px;
    color: white;
    z-index: 2;
}

.coming2-content:before {
    content: '';
    position: absolute;
    width: inherit;
    left: 0;
    bottom: 0;
    height: 300px;
    background: linear-gradient(to top, #000, transparent);
    opacity: 0.8;
    z-index: -1;
}

.coming1 img {
    width: 100%;
    /*width: 810px;*/
    /*height: 100%;*/
    height: 430px;
}

.coming2 img {
    /*max-width:270px;*/
    /*max-width: 245.5px;*/
    width: 100%;
    /*max-height: 417px;*/
    /*height: 100%;*/

}

.comingline2 img {
    /*max-width:270px;*/
    /*width: 100%;*/
    /*max-height: 430px;*/
    /*height: 100%;*/
}

.container.comingline1 {
    margin-bottom: 13px;
}

.container.comingline2 {
    margin-bottom: 40px;
}

/**/
@media (min-width: 1200px) {
    .container {
        width: 1100px;
    }
}
.container.sunrise.event{
    margin-top: 80px;
}
.inputstyle {
    width: 200px;
    border: 1px solid;
    padding: 10px;
}

.buttonstyle.nopadding > button {
    left: 0;
    margin-top: 15px;
}

.send.border h1 {
    margin-bottom: 30px;
}

.send.border p {
    max-width: 500px;
    width: 100%;
    margin-bottom: 40px;
}

.border {
    border: 15px solid #0069b4; /* Параметры границы */
    /*left: 15px;*/
    max-width: 785px;
    width: 100%;
    padding: 40px;

}

.col-md-9.long {
    max-width: 785px;
    width: 100%;
    padding: 0;
}

.col-md-3.more {
    margin-right: 15px;
}

.speakerpart2 {
    position: relative;
    margin-bottom: 25px;
}

/*.container.our{*/
/*padding: 0;*/
/*}*/
@media (max-width: 767px) {
    .col-md-3.more {
        display: none;
    }

    .send.border.color h1 {
        font-size: 22px;
    }

    .send.border.color p {
        font-size: 12px;
    }
}

.color {
    color: #0069b4;

}

.color h5 {
    font-weight: 600;
}

.color h1 {
    font-weight: 600;
}

.color p {
    color: black;
}

.recruitment.color, .study.color {
    margin-bottom: 50px;
}

.col-md-9.long > .title.program p {
    margin-top: 50px;
}

.control.color {
    margin-bottom: 75px;
}

.send.border.color {
    margin-bottom: 100px;
}

.navbar.navbar-collapse.navbar-static-top.border-line {
    border-bottom: 1px solid;
    margin-bottom: 50px;
}

.black.contacts-content {
    color: #0069b4;
}

.black.contacts-content h1 {
    font-weight: 600;

}

.black.contacts-content p {
    font-weight: 500;
}

@media (min-width: 767px) {
    .black.contacts-content {
        top: 5px;
    }
}

@media (max-width: 1200px) {
    .col-md-9.long {
        max-width: 630px;
        /*padding-left: 20px;*/
    }
}

.title.contact span {
    font-size: 14px;
    font-weight: 500;
    color: black;
    margin-bottom: 20px;
}

.title.contact h6 {
    color: black;
    font-weight: 600;

}

.phone {
    margin-top: 30px;
    margin-bottom: 80px;
}

.row.contacts {
    margin-top: 50px;
}

.container.sunrise.contact {
    margin-top: 100px;
}

@media (max-width: 992px) {
    .black.contacts-content {
        top: 25px;
    }
}

@media (min-width: 1025px) {
    .black.contacts-content {
        top: 75px;
    }
}

.send.border.color.partners {
    margin: auto;
    margin-bottom: 150px;
}

.container.partners {
    margin-top: 60px;
}

/*.partners-container{*/
/*position: absolute;*/
/*!* margin: auto; *!*/
/*top: 77px;*/
/*color: white;*/
/*max-width: 1320px;*/
/*width: 100%;*/
/*}*/
/*.row.partners{*/
/*margin-top: 80px;*/
/*}*/
/*.iconp p{*/
/*margin-top: 60px;*/
/*}*/

/*ARTICLES*/
.articles > .col-md-12 > .col-md-6.nopadding span {
    font-size: 15px;
    font-weight: 600;
    color: black;
    padding-right: 25px;
}

.articles > .col-md-12 > .col-md-6.nopadding h5 {
    font-size: 14px;
    font-weight: 500;
    color: black;
    padding-right: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.articles > .col-md-12 > .col-md-6.nopadding a {
    font-size: 12px;
    border-bottom: 1px solid;
}

.container-fluid.menu {
    background-color: #0069b4;
    margin: auto;
    /*margin-top: 15px;*/
}

.nav.navbar-nav.menu > li a {
    color: white;
}

@media (max-width: 992px) {
    .nav.navbar-nav.menu {
        display: block;
    }
}

@media (min-width: 992px) {
    .nav.navbar-nav.menu {
        display: none;
    }
}

.speakerpart1.art {
    position: absolute;
    top: -50px;
}

.arbanner {
    top: 350px;
    position: absolute;
}

.col-md-9.long.art {
    margin-top: 50px;
}

.col-md-6.nopadding.col-sm-6.art {
    margin-bottom: 40px;
}

.col-md-12.locked {
    background-color:rgba(0,0,0,0.8);
    /*opacity: 0.8;*/
    /*position: absolute;*/
    /*top: 700px;*/
    width: 100%;
    height: 647.5px;

    /*font-size: 20px;*/
    box-shadow: 0 0 15px black;
    color: #fff;
    left: -13px;
    border-radius: 10px;
}

.col-md-12.nopadding.col-sm-12.lock {
    margin-top: 45px;

}

.blc {
    padding-bottom: 5px;
    padding-top: 50px;
    color: #e43838;
}

.descr {
    margin: auto;
    border-bottom: 4px solid #e43838;
    width: 100px;
    margin-bottom: 50px;
}

.locked-content {
    opacity: 1;
    font-size: 15px;
    position: absolute;
    bottom: 20%;
    left: 11.5%;
    text-align: center;
    color: white;
    top:7%;
}

.locked-content h3 {
    color: #e43838;
    font-weight: 600;
    top: 50%;
    /* left: 50%; */
    /* margin-top: -150px; */
    /* margin-left: -225px; */
    /* position: absolute; */
    /* margin: auto; */
}

.speaker-content {
    position: absolute;
    top: 125px;
    /*left: 20px;*/
    color: white;

}

.speaker-content > ul > li > a {
    color: white;
    text-decoration: none;
}

.speaker-content > ul {

    list-style-type: none;

}

.speaker-content a:hover {

}

.speaker-content > ul > li:hover {
    list-style-image: url("../images/bullet.png");

}

.speaker-content {
    line-height: 2.2;
}

.speaker-content > ul > li {
    padding-left: 7px;
}

.arform {
    margin-top: 30px;
}

.inputstyle.art {
    width: 260px;
}

.button.art {
    width: 300px;
}

@media (max-width: 992px) {

    /*.col-md-12.locked{*/
    /*display: none;*/
    /*}*/
    .col-md-3.col-sm-3.nopadding.more.col-xs-3 {
        display: none;
    }
}

@media (max-width: 767px) {
    .col-md-12.locked {
        display: none;
    }

    .locked-content {
        display: none;
    }

    .articles.locked {
        display: none;
    }

}

.menu.art > li {
    list-style-type: none;
    /*margin: auto;*/
}

.menu.art > li > a {
    font-size: 16px;
    line-height: 2;
    color: white;
}

.menu.art {
    padding: 15px;
    margin-top: 20px;
    background-color: #0069b4;
    color: white;
}

@media (min-width: 1024px) {
    .col-md-3.col-sm-3.more.nopadding {
        display: block;
    }

}

@media (max-width: 1024px) {
    .col-md-12.locked {
        left: 8px;
        top: 760px;
    }

    .locked-content {
        left: 5%;
    }

    .col-md-9.long {
        padding-left: 20px;
    }
}

@media (min-width: 768px) {
    .container-fluid.nopadding.menu {
        display: none;
    }

}

@media (max-width: 769px) {
    .col-md-3.col-sm-3.more.nopadding {
        display: none;
    }

    .col-md-9.long {
        padding-left: 0;
    }

    .col-md-12.locked {
        left: -5px;
        top: 755px
    }

    .locked-content {
        left: 3%;
        font-size: 20px;
        bottom: 15%;
    }

}

.col-md-12.col-sm-12.col-xs-12.art {
    margin-bottom: 100px;
}

/*top menu continue*/
.cart {
    border: 2px solid #dcdcdc;
    border-radius: 3px;
    margin-left: 10px;
    width: 50px;
}

.call {
    border: 2px solid #0069b4;
    border-radius: 3px;
    margin-left: 10px;
    /*font-size: 18px;*/

}

.call > a > span {
    color: #0069b4;
    font-weight: 600;
}

.sum {
    position: absolute;
    top: 0px;
    /* left: 15px; */
    right: 0px;
    color: white;
    background-color: #de0404;
    padding: px;
    /* font-size: 13px; */
    padding-left: 3px;
    padding-right: 3px;
}

.for_mobile {
    list-style-type: none;

}

.for_mobile > .cart {
    width: 50px;
    margin: auto;
    position: absolute;
    top: 23px;
    padding: 5px;
    right: 190px;
    padding-left: 0;

}

.for_mobile > .call {
    position: absolute;
    top: 23px;
    right: 65px;
    padding: 5px;
}

@media (max-width: 321px) {
    #logo {
        width: 60px;
    }
}

@media (min-width: 768px) {
    .for_mobile {
        display: none;
    }

}

@media (min-width: 768px) {
    .col-md-9.long.nopadding.col-sm-9.col-xs-9.event {
        width: 50%;
        left: 70px;
    }
}

@media (max-width: 992px) {
    .col-md-9.long.nopadding.col-sm-9.col-xs-9.event {
        width: 65%;
        left: 65px;
    }
}

@media (min-width: 992px) {
    .col-md-9.long.nopadding.col-sm-9.col-xs-9.event {
        width: 65%;
        left: 20px;
    }
}

.col-md-3.more.col-sm-3.event {
    width: 240px;
    margin-right: 0;
    /*width: 100%;*/
}

.col-md-9.long.nopadding.col-sm-9.col-xs-9.event {
    left: 30px;
}

@media (max-width: 500px) {
    .col-md-9.long.nopadding.col-sm-9.col-xs-9.event {
        width: 100%;
        left: 0px;
    }
}

@media (max-width: 769px) {
    .nav.navbar-nav > li > a {
        padding-right: 5px;
        padding-left: 5px;
        font-size: 12px;
    }

    .cart > a {
        padding-left: 10px;

    }

}

@media (max-width: 1025px) {
    .nav.navbar-nav > li > a {
        padding-right: 5px;
        /*padding-left: 5px;*/
        font-size: 12px;
    }
}

@media (max-width: 992px) {
    .black.contacts-content > h1 {
        font-size: 26px;
    }
}

.speakerpart1-content {
    position: absolute;
    top: 30px;
    left: 25px;
    color: white;

}

.calendar {
    margin-bottom: 10px;
}

.place {
    margin-top: 10px;
}

.calendar > p > span {
    padding-left: 5px;
}

.place > p > span {
    padding-left: 5px;
}

.col-md-3.more.col-sm-3.event {
    padding: 0;

}

.col-md-9.long.nopadding.col-sm-9.col-xs-9.event {
    /*width: 70%;*/
    /*left: 70px;*/
}

.speakerpart2-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 30px;
    padding-bottom: 20px;
    color: white;
    z-index: 2;
}

.one > a {
    color: white;
}

.speakerpart2-content:before {
    content: '';
    position: absolute;
    width: inherit;
    left: 0;
    bottom: 0;
    height: 200px;
    background: linear-gradient(to top, #000, transparent);
    opacity: 0.8;
    z-index: -1;

}

.ffff {
    margin-right: -15px;
    margin-left: -15px;
}

.trades-content {
    border: 1px solid;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    max-width: 260px;
    width: 100%;
    height: 410px;
    color: black;
}

.trades-content > img {
    margin-top: 20px;
    /*margin-bottom: 20px;*/
}

.cart_quantity_button {
    margin-top: 30px;
}

@media (max-width: 768px) {
    .cart_quantity_button {
        margin-top: 10px;
    }

    .button.button2 {
        margin-top: 7px;
    }
}

.cart_quantity_button>b {
    background: #F0F0E9;
    color: #696763;
    display: inline-block;
    font-size: 16px;
    height: 28px;
    /*overflow: hidden;*/
    text-align: center;
    width: 25px;
    text-decoration: none;
    /*float: left;*/
}

.cart_quantity_input {
    color: #696763;
    /*float: left;*/
    font-size: 16px;
    text-align: center;
    width: 20px;
    height: 28px;
    padding: 0;
}
.cart_quantity_input.inp1{
    padding:0;
}

.cart_quantity {
    /*margin:auto;*/
}

.cart_input {
    width: 30px;
    height: 28px;
}

.button.button2 {
    width: 100px;
    margin-left: 18px;
    border-radius: 3px;
    height: 28px;
}

.trades-content > span {
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}

.trades-content > p {
    margin-bottom: 15px;
    height: 40px;
}

.norm {
    margin-bottom: 30px;
}

.norm1 {
    margin-bottom: 20px;
}

.norm3 {
    margin-bottom: 30px;
}

/*.span{*/
/*margin-bottom: 20px;*/
/*}*/
.container-fluid.nopadding.desk.books {
    margin-bottom: 25px;
}

.container-fluid.nopadding.books {
    margin-top: 60px;
}

.container.book > span {
    font-weight: 600;
    font-size: 16px;
    color: black;
}

.ffff.book {
    margin-top: 40px;
}

.price1 > span {
    color: #0069b4;
    font-size: 17px;
    font-weight: 600;

}

.b-about > p {
    color: #909090;
    font-size: 13px;
    line-height: 1.7;

}
.cart_quantity_up{
    cursor: pointer;
}
.cart_quantity_down{
    cursor: pointer;
}

.book-content > h5 {
    font-weight: 600;
    font-size: 14px;
    margin-top: 30px;
}

.book-content > p {
    margin-top: 25px;
}

.container.book.mobile {
    display: none;
}

.book-single > img {
    max-width: 283px;
    width: 100%;
}

@media (max-width: 767px) {
    .container.book {
        display: none;
    }
}

@media (max-width: 767px) {
    .container.book.mobile {
        display: block;
    }

    .button.button2 {
        margin-left: 0;
    }

}

.cart_quantity_button.mobile {
    margin-top: 20px;
    margin-bottom: 50px;
}

.dropdown {
    width: 690px;
    position: absolute;
    right: 254px
}

.col-md-9.pictures {
    /*background-image: url("../images/coming1.png");*/
    height: 430px;
    background-size: cover;
    background-repeat: no-repeat;
    border-right: 7.5px solid #ffffff;
    border-left: 7.5px solid #ffffff;

}

.col-md-3.pictures1 {
    /*background-image: url("../images/coming2.png");*/
    height: 430px;
    background-size: cover;
    background-repeat: no-repeat;
    border-right: 7.5px solid #ffffff;
    border-left: 7.5px solid #ffffff;
}

/*@media (max-width: 767px) {*/
/*.col-md-9.pictures {*/
/*background-position: right;*/
/*}*/
/*}*/
.carousel-inner.event{
    margin-top: 60px;
}

.container.contacts{
    position: relative;
}
.collapse.navbar-collapse{
    position: relative;
}
input{
    color: black;
    padding-left: 15px;
}
/*CART STYLE*/
.stash {
    position: relative;
}
@media (max-width: 769px) {
.call{
    margin-left: 0;
}
}
#box1{
    /*transition: .5s;*/
    position: absolute;

    width: 100%;
    right: 0;
    margin-top: 78px;
    border: 2px solid black;
    background-color: #fff;
    z-index: 15;
    border-radius: 5px;
}
#box {
    /*transition: .5s;*/
    position: absolute;
    height: 404px;
    width: 700px;
    right: 0;
    margin-top: 78px;
    border: 2px solid black;
    background-color: #fff;
    z-index: 15;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,0.35);
}

.itemthum {
    display: flex;
    align-items: center;
    height: inherit;
    padding-left: 0;
    text-align: center;
}

.itemthum img {
    height: 65px;
    float: left;
}

.item {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 75px;
    text-align: center;
    border: 1px solid silver;
}

.itmdescr {
    text-align: center;
    padding-left: 10px;
}

.price {
    height: inherit;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    padding-left: -15px;
    padding-right: 0;
    border-left: 1px solid #EEE;
    border-right: 1px solid #EEE;
}

.itemcount {
    width: 100%;
}

.delivery {
    height: 60px;
    background-color: silver;
}

.details {
    display: flex;
    align-items: center;
    height: 100%;
    float: left;
}
.cart_quantity_button.inp1{
    margin: auto;
}
.call>p{
    margin-top: 15px;
    margin-bottom: 15px;
}
.cart_quantity_input.inp1{
    border: 1px solid;
    width: 30px;
}
.inp{
    height: inherit;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    padding: 0;
    border-left: 1px solid #EEE;
    border-right: 1px solid #EEE;
}
.result {
    height: inherit;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    padding-left: -15px;
    padding-right: 0;
    border-left: 1px solid #EEE;
    border-right: 1px solid #EEE;
}

.buts1 {
    height: 100%;
}

.gitems {
    height: 100%;
}

.buts {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.cleartrash,
.getitems {
    margin: auto;
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.getitems {
    color: #fff;
    font-weight: 700;
    background-color: #0169B2;
}
.quantity {
    position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]
{
    -moz-appearance: textfield;
}

.quantity input {
    width: 45px;
    height: 42px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border: 1px solid #eee;
}

.quantity input:focus {
    outline: 0;
}

.quantity-nav {
    float: left;
    position: relative;
    height: 42px;
}

.quantity-button {
    position: relative;
    cursor: pointer;
    border-left: 1px solid #eee;
    width: 20px;
    text-align: center;
    color: #333;
    font-size: 13px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 1.7;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.quantity-button.quantity-up {
    position: absolute;
    height: 50%;
    top: 0;
    border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
    position: absolute;
    bottom: -1px;
    height: 50%;
}
.row.pnumbers b{
    font-size: 13px;
    color: white;
    font-weight: 500;
    opacity:0.85;


}
.row.pnumbers>.col-md-4>img{
    margin-bottom: 20px;
}
.row.pnumbers>.col-md-4{
    margin-bottom: 50px;
    margin-top: 50px;

}
.black.pperson{
    width: 1100px;
}
